.before-after {
  background-color: @darkgrey;
  padding: 26px 20px 42px;
}

@media (min-width: @tablet-width) {
  .before-after {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: -3px;
  }
}

@media (min-width: @desktop-width) {
  .before-after {
    padding: 0;
    position: relative;
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .before-after__block {
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: #eaeaea;
    margin-top: -60px;
  }
}

@media (min-width: @tablet-width) {
  .before-after__container {
    padding-top: 24px;
    padding-left: 31px;
    padding-right: 33px;
    margin-bottom: 61px;
  }
}

@media (min-width: @desktop-width) {
  .before-after__container {
    max-width: 100%;
    padding: 0;
    z-index: 1;
    margin-bottom: 0;
  }
}

.before-after__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}

@media (min-width: @tablet-width) {
  .before-after__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .before-after__title {
    margin-bottom: 140px;
    width: 550px;
    margin-top: -5px;
  }
}

@media (min-width: @desktop-width) {
  .before-after__title-container {
    width: 1220px;
    margin: 0 auto;
  }
}

.before-after__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .before-after__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    padding-right: 5px;
  }
}

@media (min-width: @desktop-width) {
  .before-after__description {
    width: 437px;
    margin-bottom: 48px;
  }
}

.before-after__item {
  position: relative;
  width: 124px;
  border-radius: 5px;
  padding: 18px 0 17px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .before-after__item {
    min-width: 165px;
  }

  .before-after__title-container {
    padding-left: 30px;
  }
}

.before-after__list,
.before-after__annotation,
.before-after__value,
.before-after__price {
  margin: 0;
  padding: 0;
}

.before-after__result {
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .before-after__result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
}

@media (min-width: @desktop-width) {
  .before-after__result {
    flex-wrap: wrap;
  }

  .before-after__title-container {
    padding: 0;
  }
}

.before-after__annotation {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  margin: auto;
  width: 75px;
  padding: 0 10px;
  background-color: #eaeaea;
  margin-top: -10px;
}

@media (min-width: @tablet-width) {
  .before-after__annotation {
    font-size: 14px;
    line-height: 14px;
    width: 150px;
    background-color: #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .before-after__annotation {
    background-color: #eaeaea;
  }
}

.before-after__value {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid #cdcdcd;
  padding: 17px 20px;
}

@media (min-width: @tablet-width) {
  .before-after__value {
    font-size: 30px;
    line-height: 37px;
  }
}

.before-after__list {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

@media (min-width: @desktop-width) {
  .before-after__list {
    margin-bottom: 42px;
  }
}

.before-after__price {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: @mobile-width-only) {
  .before-after__price br {
    display: none;
  }
}


@media (min-width: @desktop-width) {
  .before-after__price br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .before-after__price {
    font-size: 20px;
    line-height: 20px;
    width: 180px;
    text-align: right;
    margin-top: -1px;
  }
}

@media (min-width: @desktop-width) {
  .before-after__price {
    width: inherit;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .before-after__price span {
    margin-right: 65px;
  }
}

@media (min-width: @tablet-width) {
  .before-after__item {
    margin-right: 42px;
  }
}

@media (min-width: @desktop-width) {
  .before-after__item {
    margin-right: 40px;
  }
}

.before-after__image {
  margin: 0 auto;
  max-width: 280px;
}

@media (min-width: @tablet-width) {
  .before-after__image {
    position: relative;
    display: flex;
    max-width: inherit;
    height: 560px;
  }
}

@media (min-width: @desktop-width) {
  .before-after__image {
    max-width: 700px;
    height: 480px;
  }
}


.before-after__picture--fat {
  display: block;
}

@media (min-width: @tablet-width) {
  .before-after__picture--fat {
    position: absolute;
    bottom: 0;
    left: 70px;
    right: 0;
    max-width: 100%;
    margin: 0 auto;
    clip: rect(auto, 320px, auto, auto);
  }
}

.before-after__picture--slim {
  display: none;
}

@media (min-width: @tablet-width) {
  .before-after__picture--slim {
    position: absolute;
    bottom: 0;
    left: 90px;
    right: 0;
    max-width: 100%;
    margin: 0 auto;
    clip: rect(auto, auto, auto, 245px);
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .before-after__cat::after {
    content: none;
  }
}

@media (min-width: @tablet-width) {
  .before-after__cat {
    position: relative;
    z-index: 1;
    background-color: #eaeaea;
  }

  .before-after__cat::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 170px;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
    background-color: #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .before-after__cat {
    flex: 0 0 70%;
    max-width: 70%;
    position: absolute;
    left: 640px;
    top: -170px;
  }
}

@media (min-width: @desktop-width) {
  .before-after__wrapper {
    width: 1220px;
    margin: 0 auto;
    position: relative;
    padding-right: 630px;
    min-height: 462px;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-top: 68px;
  }
}
