.before-after {
  background-color: #EAEAEA;
  padding: 25px 20px 40px;
}

.before-after__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.before-after__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.before-after__item {
  list-style: none;
}

.before-after__list {
  margin: 0;
  padding: 0;
}

.before-after__price {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}
