.main-container__block {
  padding-bottom: 20px;
}

.main-container__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 37px 0;
}

.main-container__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
  width: 226px;
}

.main-container__header {
  padding: 40px 20px 35px;
}
