@media (min-width: @desktop-width) {
  .container {
    width: 1300px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.main-container__add {
  margin-bottom: 55px;
  position: relative;
  padding-left: 20px;
}

.main-container__add::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #ebebeb;
  width: calc(100% + 20px);
  left: -20px;
  right: 0;
}

@media (min-width: @tablet-width) {
  .main-container__add::after {
    content: none;
  }
}

@media (min-width: @tablet-width) {
  .main-container__add {
    padding-top: 25px;
    padding-left: 30px;
    margin-bottom: 155px;
  }
}

@media (min-width: @desktop-width) {
  .main-container__add {
    padding-left: 7px;
    margin-bottom: 165px;
    padding-top: 17px;
  }
}

.main-container__block {
  padding-bottom: 15px;
}

.main-container__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 40px;
}


@media (min-width: @tablet-width) {
  .main-container__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 160px;
  }
}

@media (min-width: @tablet-width) {
  .main-container__title--form {
    margin-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {
  .main-container__title {
    padding-top: 50px;
    padding-left: 0;
  }
}

@media (min-width: @tablet-width) {
  .main-container__title--form {
    padding-top: 70px;
  }
}

.main-container__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
  width: 226px;
}

@media (min-width: @tablet-width) {
  .main-container__text {
    font-size: 20px;
    line-height: 30px;
    width: 350px;
  }
}

.main-container__header {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .main-container__header {
    margin-bottom: 35px;
    padding: 20px 20px 0 70px;
  }
}

@media (min-width: @desktop-width) {
  .main-container__header {
    padding: 0;
  }
}

@media (min-width: @tablet-width) {
  .main-container__form {
    margin-bottom: 55px;
  }
}
