.main-header {
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: @tablet-width) {
  .main-header {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    border-bottom: none;
    width: 1240px;
    margin: 0 auto;
  }
}

.main-header__logo-image {
  margin-right: 57px;
  width: auto;
}

.main-header__logo-image:hover {
  opacity: 0.8;
}

.main-header__logo-image:active {
  opacity: 0.6;
}


.main-header__container {
  position: relative;
  display: flex;
  margin-bottom: 25px;
  border-bottom: 1px #d9d9d9 solid;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .main-header__container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 22px;
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header__container {
    padding: 55px 0 0 0;
    border-bottom: none;
  }
}

.main-header__container--index {
  border: none;
  margin-bottom: 0;
}

@media (max-width: @mobile-width-only) {
  .main-header__logo {
    padding: 10px 20px 15px;
  }
}
