.programs {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .programs {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .programs {
    padding-left: 10px;
  }
}

.programs__item {
  list-style-type: none;
  background-color: @lightgrey;
  padding: 30px 33px 22px 20px;
  position: relative;
}


.programs__item::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: @basicgreen;
  border-radius: 50%;
  z-index: 1;
  left: 25px;
  top: 25px;
}


@media (min-width: @tablet-width) {
  .programs__item::after {
    width: 200px;
    height: 200px;
    left: auto;
    right: 75px;
    top: 85px;
  }
}

@media (min-width: @desktop-width) {
  .programs__item::after {
    width: 100px;
    height: 100px;
    left: 60px;
    top: 40px;
  }
}

.programs__item--slim::before {
  content: "";
  position: absolute;
  background-image: url("../img/index-cat-losing-weight.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 50px;
  z-index: 5;
  left: 30px;
  top: 20px;
}

.programs__item--weight::before {
  content: "";
  position: absolute;
  background-image: url("../img/index-cat-weight-set.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 28px;
  z-index: 5;
  top: 30px;
  left: 15px;
}


@media (min-width: @tablet-width) {
  .programs__item--weight::before {
    background-image: url("../img/index-cat-weight-set-tablet.svg");
    width: 268px;
    height: 112px;
    top: 130px;
    left: auto;
    right: 40px;
  }

  .programs__item--slim::before {
    background-image: url("../img/index-cat-losing-weight-tablet.svg");
    width: 140px;
    height: 194px;
    top: 75px;
    left: auto;
    right: 100px;
  }
}

@media (min-width: @desktop-width) {
  .programs__item--weight::before {
    background-image: url("../img/index-cat-losing-slim-desktop.svg");
    width: 135px;
    height: 56px;
    top: 70px;
    left: 30px;
  }

  .programs__item--slim::before {
    background-image: url("../img/index-cat-losing-weight-desktop.svg");
    width: 140px;
    height: 194px;
    top: 40px;
    left: 75px;
  }
}

@media (min-width: @tablet-width) {
  .programs__item {
    padding: 78px 33px 50px 52px;
  }
}

@media (min-width: @desktop-width) {
  .programs__item {
    padding: 82px 50px 60px 50px;
  }
}

.programs__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .programs__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .programs__item:not(:last-child) {
    margin-right: 80px;
    margin-bottom: 0;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
}

.programs__title {
  margin: 0 0 29px 75px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
}

@media (min-width: @tablet-width) {
  .programs__title {
    font-size: 36px;
    line-height: 24px;
    margin: 0 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .programs__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 71px 165px;
  }
}

@media (min-width: @desktop-width) {
  .programs__list {
    display: flex;
  }
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  z-index: 0;
  background-color: #f2f2f2;
  padding-right: 18px;
}

.programs__link::after {
  content: "";
  position: absolute;
  background: url("../img/icon_arrow.png") no-repeat center;
  width: 35px;
  height: 12px;
  right: -26px;
  z-index: -1;
  top: 30%;
}

.programs__link:hover::after {
  right: -34px;
}

.programs__link:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .programs__link {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__description {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 42px;
}

@media (min-width: @tablet-width) {
  .programs__description {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin-bottom: 48px;
  }
}

@media (min-width: @desktop-width) {
  .programs__description {
    width: 467px;
    margin-bottom: 24px;
  }
}


.programs__icon {
  position: absolute;
}

.programs__icon-slim {
  top: -5px;
  right: 5px;
}

@media (min-width: @tablet-width) {
  .programs__icon-slim {
    width: auto;
    height: 100%;
  }
}

@media (min-width: @desktop-width) {
  .programs__icon-slim {
    right: 0;
  }
}

.programs__icon-weight {
  top: 7px;
  right: -7px;
}

@media (min-width: @tablet-width) {
  .programs__icon-weight {
    width: 133%;
    height: 100%;
    right: -40px;
  }
}


@media (min-width: @desktop-width) {
  .programs__icon-weight {
    width: 133%;
    height: 100%;
    right: -10px;
  }
}
