.programs {
  padding-left: 20px;
  padding-right: 20px;
}

.programs__item {
  list-style-type: none;
  background-color: @lightcgrey;
  padding: 30px 33px 22px 20px;
}

.programs__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: @desktop-width) {
  .programs__item:not(:last-child) {
    margin-right: 80px;
    margin-bottom: 0;
  }
}

.programs__list,
.programs__title {
  margin: 0;
  padding: 0;
}

@media (min-width: @desktop-width) {
  .programs__list {
    display: flex;
  }
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
}

.programs__description {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 42px;
}
