.card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  color: #222222;
  max-width: 80px;
  margin-bottom: 14px;
}

@media (min-width: @tablet-width) {
  .card__title {
    font-size: 20px;
    line-height: 24px;
    max-width: 130px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.card {
  padding-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .card {
    box-sizing: border-box;
    width: 100%;
    background-color: @lightgrey;
    min-height: 400px;
    padding: 130px 0 40px 0;
    max-width: 324px;
  }
}


@media (min-width: @tablet-width) {
  .card--big {
    padding-top: 150px;
  }
}


@media (min-width: @tablet-width) {
  .card__link {
    position: absolute;
    top: -190px;
    left: 50%;
  }
}


@media (min-width: @tablet-width) {
  .card__link--big {
    position: absolute;
    top: -215px;
    left: 50%;
  }
}


.card__list,
.card__value {
  margin: 0;
}

.card__list {
  color: #444444;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .card__list {
    padding-bottom: 16px;
  }
}


.card__item {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .card__item {
    font-size: 16px;
  }
}

.card__image {
  position: relative;
  padding-left: 36px;
  padding-top: 15px;
  width: 40%;
}

@media (min-width: @tablet-width) {
  .card__image {
    width: 100%;
    left: -25%;
  }
}

.card__image--big {
  position: relative;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 13px;
  width: 35%;
}

@media (min-width: @tablet-width) {
  .card__image--big {
    width: 100%;
    left: -25%;
  }
}

.card__wrapper {
  display: flex;
  padding-top: 19px;
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .card__wrapper {
    flex-direction: column;
    align-items: center;
  }
}


.card__wrapper--big {
  display: flex;
  padding-top: 15px;
  padding-bottom: 8px;
}

@media (min-width: @tablet-width) {
  .card__wrapper--big {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 23px;
  }
}

.card__description {
  width: 50%;
}

@media (min-width: @tablet-width) {
  .card__description {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
  }
}
