.card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  color: #222222;
  max-width: 80px;
  margin-bottom: 14px;
}

@media (min-width: @tablet-width) {
  .card__title {
    font-size: 20px;
    line-height: 24px;
    max-width: 130px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.card {
  padding-bottom: 31px;
  position: relative;
}

.card__description--1 {
  padding-bottom: 14px;
}

@media (min-width: @tablet-width) {
  .card__description--1 {
    padding-bottom: 0;
  }
}

.card--odd {
  padding-bottom: 45px;
}

.card__ref {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .card {
    box-sizing: border-box;
    width: 100%;
    background-color: @lightgrey;
    min-height: 400px;
    padding: 159px 0 35px 0;
    max-width: 325px;
  }
}

@media (min-width: @desktop-width) {
  .card {
    max-width: 245px;
    min-height: 245px;
    padding: 166px 0 41px;
  }
}

@media (min-width: @tablet-width) {
  .card__link {
    position: absolute;
    // top: -229px;
    display: flex;
    min-height: 211px;
    align-items: flex-end;
  }
}

@media (min-width: @desktop-width) {
  .card__link {
    top: 0;
    display: flex;
    min-height: 211px;
    align-items: flex-end;
  }
}

.card__value {
  margin: 0;
}

.card__list {
  color: #444444;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .card__list {
    padding-bottom: 16px;
    position: relative;
  }
}

@media (min-width: @tablet-width) {
  .card__list::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #cdcdcd;
    top: 24px;
  }
}

@media (min-width: @desktop-width) {
  .card__list::before {
    top: 22px;
  }
}

.card__item {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .card__item {
    font-size: 16px;
  }
}

.card__image {
  position: relative;
  padding-top: 25px;
  width: 50%;
}

.card__image--1 {
  padding-top: 17px;
}

@media (min-width: @tablet-width) {
  .card__image {
    // justify-content: center;
    // display: flex;
    padding-top: 0;
    width: 168px;
    position: absolute;
    height: 207px;
    top: -231px;
  }
}

// @media (min-width: @tablet-width) {
//   // .card__image {
//   //   width: 100%;
//   //   // padding-top: 11px;
//   // }

//   // .card__image--3 {
//   //   padding-top: 5px;
//   // }
// }

.card__wrapper {
  display: flex;
  padding-bottom: 14px;
  padding-left: 34px;
  padding-right: 2px;
}

.card__wrapper--odd {
  padding-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .card__wrapper--odd {
    padding-top: 0;
  }
}

@media (min-width: @tablet-width) {
  .card__wrapper {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-bottom: 26px;
    position: relative;
    padding-right: 0;
  }
}

.card__description {
  width: 64%;
}

.card__description--odd {
  padding-top: 14px;
}

@media (min-width: @tablet-width) {
  .card__description--odd {
    padding-top: 0;
  }
}

.card__description:nth-child(odd) {
  padding-top: 15px;
}

@media (min-width: @tablet-width) {
  .card__description {
    width: 100%;
    padding-left: 40px;
    padding-right: 39px;
    box-sizing: border-box;
    padding-top: 9px;
  }
}

@media (min-width: @desktop-width) {
  .card__description {
    padding-left: 43px;
    padding-right: 35px;
    padding-top: 0;
  }

  .card__wrapper {
    padding-bottom: 27px;
    position: relative;
  }

  .card__image {
    padding-top: 0;
    width: 168px;
    height: 207px;
    position: absolute;
    top: -245px;
  }
}
