@media (min-width: @tablet-width) {
  .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: @tablet-width) {
  .catalog__button {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .catalog__button {
    width: 168px;
  }
}


.catalog__card {
  position: relative;
}

.catalog__card::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #ebebeb;
  width: calc(100% + 40px);
  left: -20px;
  right: 0;
  bottom: 10px;
}

@media (min-width: @tablet-width) {
  .catalog__card::after {
    content: none;
  }
}
