.catalog-wrapper {
  padding: 0 20px;
  margin-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .catalog-wrapper {
    row-gap: 140px;
    padding: 0 30px;
    margin-bottom: 65px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-wrapper {
    padding: 0;
    row-gap: 141px;
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 73px;
  }
}
