.check {
  display: block;
  position: relative;
  padding: 7px 0 16px 45px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.check:hover::after {
  border: 1px solid #bfbfbf;
}

@media (min-width: @tablet-width) {
  .check {
    font-size: 20px;
    line-height: 30px;
    padding-top: 30px;
    padding-left: 60px;
  }
}

.check__control {
  appearance: none;
  position: absolute;
}

.check__label {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  left: 0;
  top: 0;
}

@media (min-width: @tablet-width) {
  .check::after {
    width: 40px;
    height: 40px;
    top: 25px;
  }

  .check__label {
    width: 40px;
    height: 40px;
    top: 25px;
  }
}

.check__control:checked + .check__label::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 15px;
  margin-top: -3px;
  width: 12px;
  height: 21px;
  border-right: 1px solid #68b738;
  border-bottom: 1px solid #68b738;
  transform: translateY(-50%) rotate(45deg);
}

@media (min-width: @tablet-width) {
  .check__control:checked + .check__label::after {
    left: 15px;
  }
}

@media (min-width: @desktop-width) {
  .check {
    font-size: 20px;
    line-height: 30px;
    padding-top: 23px;
    padding-left: 71px;
  }

  .check__label {
    left: 16px;
    top: 14px;
  }
}
