.check-container {
  margin-bottom: 30px;
  padding: 35px 20px 0;
}

@media (min-width: @tablet-width) {
  .check-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 70px;
    padding-top: 25px;
  }
}

@media (min-width: @desktop-width) {
  .check-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: -31px -57px 49px 0;
  }
}
