@media (min-width: @tablet-width) {
  .check-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .check-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.check-container {
  margin-bottom: 40px;
}
