.form-field {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  position: relative;
}

@media (min-width: @tablet-width) {
  .form-field {
    flex-basis: 49%;
  }
}

.form-field__control {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding: 13px 19px;
  width: 100%;
}

.form-field__control:hover {
  border: 1px solid #cdcdcd;
}

.form-field__control:active,
.form-field__control:focus {
  outline: 2px solid #444444;
}

.form-field__control:focus:invalid {
  outline: 2px solid #ff8282;
  border: none;
}

@media (min-width: @tablet-width) {
  .form-field__control {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-field__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 15px;
  flex-shrink: 0;
}

@media (min-width: @tablet-width) {
  .form-field__label {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .form-field__label {
    margin-right: 21px;
  }
}

.form-field__control--textarea {
  padding: 12px 13px;
  resize: none;
}

@media (min-width: @tablet-width) {
  .form-field__control--textarea {
    height: 160px;
  }
}

@media (min-width: @desktop-width) {
  .form-field__control--textarea {
    height: 176px;
  }
}
