.form__tittle {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  width: 250px;
  background-color: #ffffff;
  padding: 0 0 35px 20px;
  margin-left: -20px;
  position: relative;
}

@media (min-width: @tablet-width) {
  .form__tittle {
    font-size: 36px;
    line-height: 36px;
    width: 550px;
  }
}

.form__tittle--width {
  padding: 10px 0 35px 20px;
}

@media (min-width: @tablet-width) {
  .form__tittle--width {
    padding-top: 35px;
    margin-bottom: 35px;
  }
}

@media (min-width: @desktop-width) {
  .form__tittle--width {
    padding-top: 0;
  }
}

@media (min-width: @tablet-width) {
  .form__tittle--textarea {
    margin-bottom: 85px;
    padding-bottom: 0;
  }
}

.form__container {
  padding: 0 20px 25px 20px;
}

.form__container--radio {
  position: relative;
}

.form__container--radio::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #d9d9d9;
  width: 100%;
  right: 0;
  left: 0;
}

.form__container--radio::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #d9d9d9;
  width: 100%;
  right: 0;
  left: 0;
  top: -15px;
}

@media (min-width: @tablet-width) {
  .form__container--radio::before {
    content: none;
  }
}

@media (min-width: @tablet-width) {
  .form__container--radio::after {
    content: none;
  }
}

@media (min-width: @tablet-width) {
  .form__container--field {
    padding-top: 15px;
    padding-left: 5px;
    border: 1px solid #e6e6e6;
  }
}


@media (min-width: @tablet-width) {
  .form__container {
    padding: 25px 55px 25px 70px;
  }
}

@media (min-width: @desktop-width) {
  .form__container {
    padding-left: 10px;
    padding-right: 5px;
  }
}

@media (min-width: @tablet-width) {
  .form__container--radio {
    padding: 40px 60px 25px 70px;
  }
}

@media (min-width: @desktop-width) {
  .form__container--radio {
    padding: 30px 5px 25px 70px;
  }
}

.form__container--width {
  padding-bottom: 10px;
}

.form__container--textarea {
  padding-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .form__container--textarea {
    padding-top: 35px;
  }
}

@media (min-width: @tablet-width) {
  .form__container--check {
    padding-top: 40px;
  }
}

.form__required-field {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .form__button {
    font-size: 20px;
    padding: 13px 45px;
    width: 282px;
    margin-right: 61px;
  }
}

@media (min-width: @desktop-width) {
  .form__button {
    width: 568px;
  }
}

.form__icon {
  position: absolute;
  right: 5%;
  top: 25%;
}

@media (min-width: @desktop-width) {
  .form__raw--2 {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width) {
  .form__container--raw {
    flex-basis: 50%;
  }
}
