.form__radio {
  font-size: 16px;
}

.form__button {
  position: relative;
}

.form__container--radio::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #d9d9d9;
  width: 100%;
  right: 0;
  left: 0;
}

.form__container--radio::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #d9d9d9;
  width: 100%;
  right: 0;
  left: 0;
  top: -20px;
}

.form__container--check {
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .form__tittle--textarea {
    margin-bottom: 85px;
    padding-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .form__container--radio::before {
    content: none;
  }

  .form__container--radio::after {
    content: none;
  }
}

@media (min-width: @tablet-width) {
  .form__programs {
    padding-top: 21px;
    border: 1px solid #e6e6e6;
    padding-bottom: 13px;
  }
}

@media (min-width: @desktop-width) {
  .form__programs {
    padding: 25px 0 16px;
  }
}

.form__info {
  padding: 0 20px 26px;
}

.form__programs {
  position: relative;
}

.form__programs::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #e6e6e6;
  width: 100vw;
  top: -19px;
  left: -50px;
}

@media (min-width: @tablet-width) {
  .form__info {
    flex-basis: 50%;
    padding: 0 30px;
  }

  .form__programs::before {
    content: none;
  }
}

@media (min-width: @desktop-width) {
  .form__info {
    padding: 0;
    margin-bottom: 50px;
    padding-right: 36px;
  }
}


@media (min-width: @tablet-width) {
  .form__radio {
    padding: 55px 29px 23px 34px;
  }
}

@media (min-width: @desktop-width) {
  .form__radio {
    padding: 0 0 0 43px;
  }
}

.form__container--textarea {
  padding-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .form__container--textarea {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .form__container--textarea {
    width: 1240px;
    margin: 0 auto;
    padding-bottom: 9px;
  }
}

@media (min-width: @tablet-width) {
  .form__container--check {
    padding-top: 36px;
  }
}

@media (min-width: @desktop-width) {
  .form__container--check {
    width: 1240px;
    margin: 0 auto;
    padding-top: 31px;
  }
}

.form__required-field {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .form__button {
    font-size: 20px;
    padding: 13px 45px;
    width: 282px;
    margin-right: 61px;
  }
}

@media (min-width: @desktop-width) {
  .form__button {
    width: 568px;
    margin-right: 81px;
  }
}

.form__raw {
  margin-bottom: 11px;
}

@media (min-width: @tablet-width) {
  .form__raw {
    padding: 24px 42px 0;
    margin-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {
  .form__raw {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    margin: 0 auto;
    padding: 0 13px 0;
  }
}

.form__icon {
  position: absolute;
  right: 5%;
}

@media (min-width: @tablet-width) {
  .form__icon {
    right: 3%;
  }
}

@media (min-width: @desktop-width) {
  .form__icon {
    right: 18px;
  }
}

.form__icon--email {
  fill: #ffffff;
}

.form__icon:focus {
  fill: #68b738;
  outline: none;
}

.form__email {
  padding: 33px 20px 10px;
}

@media (min-width: @tablet-width) {
  .form__email {
    padding: 72px 65px 20px 70px;
  }
}

@media (min-width: @desktop-width) {
  .form__email {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px 0;
  }
}

.form__label {
  padding: 0 20px;
  padding-top: 35px;
}

@media (min-width: @tablet-width) {
  .form__label {
    padding: 75px 74px 15px 70px;
  }
}

@media (min-width: @desktop-width) {
  .form__label {
    padding: 0 10px 10px 20px;
  }
}

@media (min-width: @desktop-width) {
  .check-field-1 {
    display: flex;
    flex: 0 0 21%;
  }

  .form-field--email {
    margin-right: 72px;
  }
}
