.form-field {
  display: flex;
  padding-bottom: 15px;
  align-items: center;
}

.form-field__label,
.form-field__control {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form-field__label {
  margin-right: 12px;
  flex-shrink: 0;
}

.form-field__control {
  border: 1px solid #e7e7e7;
  padding: 13px 19px;
  width: 95%;
}
