.radio {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  position: relative;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .radio {
    font-size: 20px;
    line-height: 30px;
    padding-left: 85px;
  }
}

.radio__label {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  left: 0;
  top: 0;
}

@media (min-width: @tablet-width) {
  .radio__label {
    width: 40px;
    height: 40px;
    left: 30px;
  }
}

.radio__control {
  appearance: none;
  position: absolute;
}

.radio__control:checked + .radio__label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: #68b738;
  left: 9px;
  top: 9px;
}

@media (min-width: @tablet-width) {
  .radio__control:checked + .radio__label::after {
    width: 18px;
    height: 18px;
  }
}

.radio__control:hover + .radio__label {
  border: 1px solid #bababa;
}

.radio__control:focus + .radio__label {
  box-shadow:
    0 0 0 0.1em #4a90e2,
    0 0 0 0.2em #7ed321;
}

.check__control:hover + .check__label {
  border: 1px solid #bababa;
}

.check__control:focus + .check__label {
  box-shadow:
    0 0 0 0.1em #4a90e2,
    0 0 0 0.2em #7ed321;
}

