.social {
  position: relative;
}

.social::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #ebebeb;
  width: calc(100% + 40px);
  left: -20px;
  right: 0;
  bottom: 10px;
}

@media (min-width: @tablet-width) {
  .social::after {
    content: none;
  }
}

.social::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #ebebeb;
  width: calc(100% + 40px);
  left: -20px;
  right: 0;
}

@media (min-width: @tablet-width) {
  .social::before {
    content: none;
  }
}


.social__item {
  list-style: none;
  padding: 0 15px;
}

@media (min-width: @tablet-width) {
  .social__link {
    padding: 0 15px;
  }
}

.social__list {
  margin: 0;
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .social__list {
    padding: 0;
  }
}
